/khealth
/khealth.exe
/dist/
*.log
config.yaml


vagrant/
autoinstall/
hardening/
.env
/DEDUP-CHECKLIST.md
*.test
node_modules/

# findings reports written by e / --export into the working directory
khealth-*-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9][0-9][0-9].json
khealth-*-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9][0-9][0-9].xlsx
